# Copyright 2014, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Author Kevin.Carter@Rackspace.com

# Variables:
#   PASSWD=Set the password, if not set it will be generated.
#   CONTAINER_USER=The name of the user that will be built within the container.
#   COOKBOOK_VERSION=Version number of the cookbooks being used for deployment.
#   PRIMARY_DEVICE=The device name for the primary network interface. 
#                  This is the network device that will the default gateway.
#   NEUTRON_DEVICE=The device name that neutron will be attached to.
#   VIRT_TYPE=The Virtualization type, if your System supports KVM 
#             you should set this to "kvm". Default, "qemu"

# Set the system password
export PASSWD="secrete"

# Set the container user, this user should be an existing system user
export CONTAINER_USER="openstack"

# Set the cookbook version
export COOKBOOK_VERSION="v4.2.2"

# Set the network device that has the gateway
export PRIMARY_DEVICE="eth1"

# Set the network device that neutron will be plugged into
export NEUTRON_DEVICE="eth2"

# Set the virt type
export VIRT_TYPE="qemu"
